.*
*.py[cod]
*.gif
*.bmp
*.mp4
*.mov
*.mkv
*.log
*.zip
*.pt
*.pth
*.ckpt
*.safetensors
*.pdf
*.html
*.whl
*.ipynb
*.dat
__pycache__/
models/
assets/
Screenshot*
all_topics.json
!requirements.txt
training_data*.json
training_stats*.json
train*.py
count.py
history.json
*.png
!.gitattributes
!.gitignore
!.streamlit
*secret*
*problem_labels*
*response_schema.json
sys_prompt.txt
